name: First Workflow
on: push

jobs:
  run-the-first-command:
    runs-on: ubuntu-latest
    steps:
      - name: Display some Text
        run: echo "Some Text Hello There"
      - name: Command in Multiline
        run: |
          node -v
          npm -v
          docker --version