name: Second Workflow
on: 
  - push
  - workflow_dispatch

jobs:
  run-first-command:
    runs-on: ubuntu-latest
    steps:
      - name: Display Echo
        run: echo "Some Text Hello There"
  run-parallel-command:
    runs-on: windows-latest
    steps:
      - name: Display Node Version on Windows
        run: node -v
  run-second-command:
    runs-on: macos-latest
    needs: run-first-command
    steps:
      - name: Display Docker Version on MacOs
        run: echo "Docker Version"